/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "primeicons/primeicons.css";

@font-face {
    font-family: 'stark';
    src: url('/fonts/FSIndustrieLight.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'stark';
    src: url('/fonts/FSIndustrieRegular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'stark';
    src: url('/fonts/FSIndustrieMedium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
  font-family: 'stark';
  src: url('/fonts/FSIndustrieLight.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'stark';
  src: url('/fonts/FSIndustrieRegular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'stark';
  src: url('/fonts/FSIndustrieMedium.otf') format('opentype');
  font-weight: 500;
}

* {
  font-family: 'stark';
}